
/* scrollbar works only in chrome */
::-webkit-scrollbar {
    display: none;
 }


.card {
    margin: auto;
    margin-bottom: 3.5rem;
    width: 20rem;
    height: 18rem;
    color: white;
}

.row {
  float: left;
  margin: auto;
}

